.water-icon {
  color: #3bb0de;
}

.cloud-icon {
  color: #595959;
}
.cloud {
  margin-left: -20px;
}

.arrow {
  color: orange;
}
.umberlla-icon {
  color: blue;
}
.rainbow-icon {
  color: #8d3daf;
}
